front/front/App_WebReferences/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2145/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2145/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2145/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_LogData_InputMessage">
    <wsdl:part name="parameters" element="tns:LogData" />
  </wsdl:message>
  <wsdl:message name="IService_LogData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_nameList_InputMessage">
    <wsdl:part name="parameters" element="tns:nameList" />
  </wsdl:message>
  <wsdl:message name="IService_nameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:nameListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_priceList_InputMessage">
    <wsdl:part name="parameters" element="tns:priceList" />
  </wsdl:message>
  <wsdl:message name="IService_priceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:priceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_imglist_InputMessage">
    <wsdl:part name="parameters" element="tns:imglist" />
  </wsdl:message>
  <wsdl:message name="IService_imglist_OutputMessage">
    <wsdl:part name="parameters" element="tns:imglistResponse" />
  </wsdl:message>
  <wsdl:message name="IService_pdail_InputMessage">
    <wsdl:part name="parameters" element="tns:pdail" />
  </wsdl:message>
  <wsdl:message name="IService_pdail_OutputMessage">
    <wsdl:part name="parameters" element="tns:pdailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="LogData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LogData" message="tns:IService_LogData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogDataResponse" message="tns:IService_LogData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nameList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/nameList" message="tns:IService_nameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/nameListResponse" message="tns:IService_nameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="priceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/priceList" message="tns:IService_priceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/priceListResponse" message="tns:IService_priceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="imglist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/imglist" message="tns:IService_imglist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/imglistResponse" message="tns:IService_imglist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pdail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/pdail" message="tns:IService_pdail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/pdailResponse" message="tns:IService_pdail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogData">
      <soap:operation soapAction="http://tempuri.org/IService/LogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nameList">
      <soap:operation soapAction="http://tempuri.org/IService/nameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="priceList">
      <soap:operation soapAction="http://tempuri.org/IService/priceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="imglist">
      <soap:operation soapAction="http://tempuri.org/IService/imglist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pdail">
      <soap:operation soapAction="http://tempuri.org/IService/pdail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:2145/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>